<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="accessToken" value="4656472633-3GzaeUiIcZqweAUj0ukYwkdoIEQf3znaYu5Ttl4"/>
		<add key="accessTokenSecret" value="llxdl6gQxnCkVoYoBQJbIkR1PzhaMj172wSC3dAmZbjZ6"/>
		<add key="consumerKey" value="6ua2jlju7aDIBc5SMkIfNFjip"/>
		<add key="consumerSecret" value="KVV1s79bhKZwK1NPKsOjAWwdHF94Q1aeioeWisibXrNva779B4"/>
		<add key="Bearer" value="AAAAAAAAAAAAAAAAAAAAAFRLiAEAAAAAuGiGBGA%2BB5MlK3%2FBMaG90rLuBE0%3DVadxQwni0ge3K4pcycnlAIPnqAKT1eEzBS3K6GN0lnDCciGBwA"/>
		</appSettings>
</configuration>